@use 'partials/mixins' as *;
@use 'partials/variables' as *;
@use 'partials/partial' as *;

*, *::before, *::before{
     margin: 0;
     padding:0;
     box-sizing: border-box;
     
  }

  
@include mobile{
    .header{
        display: flex;
        align-items: center;
        background-color: #323232;
        width:100%;
        padding:2rem;

        &__img{
            display: flex;
            align-items: center;
            width: 100%;
            height: 2.7rem;
            padding-bottom: 1rem;
            font-style:bold;

        }
    }

    .navbar{
        display: flex;
        align-items: center;

    }

    .navbar__lists{
        display: flex;
        list-style: none;
       
    }

    .navber__links{
        display: flex;
        
    }

    .navbar__links a{
        @include sub-header;
        display: flex;
        // justify-content: space-between;
        text-decoration: none;
        color: white;

        


    }

    .bees{
        @include section-header;
            display: flex;
            align-items: center;
            padding: 2rem;
            width: 100%;
            min-height: 22rem;
            max-height: 35rem;
            background-image: url('../assets/images/hero-bio.jpg');
            background-position: center;
            opacity: 50% #323232;
            background-size: cover;
            color: white ;
    }


           .musician{
              width:60%;
           }    

           .musician__header{
               @include section-header;
               padding-top:1.5rem;
               padding-bottom: 1rem;
               padding-right: 1rem;
               padding-left: 1rem;
           }

           .musician__img{
               display: flex;
               padding-top:0.5rem;
               padding-bottom: 1rem;
               padding-right: 1rem;
               padding-left: 1rem;
               width: 109%;
               

           }

           .musician__paragraph--note{
               @include body-copy;
               display: flex;
               text-align: left;
               padding: 1rem;
            }

            .musician__paragraph--title{
                @include body-copy;
                padding: 1rem;
            }

            .photo__gallery--header{
                padding:1rem;
            }

            .photo__gallery--dance{
                padding: 1rem;
                width: 68%;
            }

            .footer{
                @include footer-copy;
                padding: 1rem;
                background-color: #323232;
                color: white;
            }

            .footer__icon{
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-right: 1rem;
                
            }

            .footer__header--company{
                padding-bottom: 1rem;
            }

            .footer__adams{
                padding-bottom: 0.5rem;
            }

            .footer__paragraph--email{
                padding: 1rem 0 1rem 0;
            }

            .pearl__gregg{
                padding: 1rem 0 1rem 0;

            }

            .pearl__gregg--artists{
                padding-bottom: 0.5rem;
            }

            .pear__gregg--agent{
                padding-top: 0.5rem;
                font-weight: 300;
            }
           
            .carson__whyte--name{
                padding-bottom: 0.5rem;
            }

            .carson__whyte--agent{
                padding-top: 0.5rem;
                font-weight: 300;
            }
            
            .footer__paragraph--why{
                padding-top:1rem;
                padding-bottom: 4rem;
            }

            .footer__logo--img{
                padding-bottom: 1rem;
            }


}







     
     
       
